@page "/"

<PageTitle>Home</PageTitle>

<div style="d-flex bg-color:warning justify-content-center align-item-center m-3 rounded-5">
    <h1>Welcome To LibRead</h1>
</div>
Exploring the virtual world through text !!
